This below opreation performs all operators of calc Numeric operations

`+`, `-`, `*`, `/`, `%`
and `power` is `**`
and for `Floor Division` we use `//`

In [2]:
print("Add : ", 5+3)
print("Sub : ", 8-6)
print("Mul : ", 3*2)
print("Div : ", 10/5)
print("Mod : ", 10%3)
print("Power : ", 2**3)
print("Floor Division : ", 10//3)

Add :  8
Sub :  2
Mul :  6
Div :  2.0
Mod :  1
Power :  8
Floor Division :  3

below part covers variables
`type()` function is check for the type as in python there is no `type safety` it uses `dynamic typing`

In [3]:
myvar = 5

In [4]:
myvar + myvar
myvar = myvar + myvar

In [5]:
myvar
type(myvar)

int

In [8]:
my_income = 10000
tax_rate = 0.1
my_taxes = my_income * tax_rate
print('Toatl tax is : ', my_taxes)

Toatl tax is :  1000.0

In [9]:
num = 5
num = 'test'
if(type(num) == int):
    print("num is integer")
else:
    print("num is not integer")

num is not integer

below part cover string manupulations